
<div class="grid">
    <div class="col-4">
        <label>Ingrese el código del cliente:</label>
        <input id="codigoCliente" type="text"  [(ngModel)]="codigoClienteSearch"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="col-4">
        <label>Ingrese el código del empleado:</label>
        <input id="codigoempleado" type="text" [(ngModel)]="codigoempleadoSearch" 
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="col-4">
        <button  icon="pi pi-search" label="Buscar" type="button" pButton (click)="obtenerCliente()"></button>
    </div>
</div>

<br>
<p-tabView>
    <p-tabPanel header="Datos cliente" >
        <div class="grid" >
            <div class="col-4">
                <label>Nombre:</label>
            </div>
            <div class="col-4">
                {{clientSelected.nombre}}
            </div>
        </div>
        <div class="grid" >
            <div class="col-4">
                <label>Apellido:</label>
            </div>
            <div class="col-4">
                {{clientSelected.apellido}}
            </div>
        </div>
        <div class="grid" >
            <div class="col-4">
                <label>Edad:</label>
            </div>
            <div class="col-4">
                {{clientSelected.edad}}
            </div>
        </div>
        <div class="grid" >
            <div class="col-4">
                <label>Número de cuenta:</label>
            </div>
            <div class="col-4">
                {{clientSelected.numeroCuenta}}
            </div>
        </div>
        <div class="grid" >
            <div class="col-4">
                <label>Fecha de creación de cuenta:</label>
            </div>
            <div class="col-4">
                <!-- | date: 'yyyy-MM-dd' -->
                {{clientSelected.fechaCreacionCuenta }}
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Movimientos">
      <app-movimientos [listaMovimientos]="clientSelected.movimientos" [saldoActual]="clientSelected.saldoActual"></app-movimientos>
    </p-tabPanel>
    <ng-container>
        <p-tabPanel header="Empleado">
            <div class="grid" >
                <div class="col-4">
                    <label>Cargo:</label>
                </div>
                <div class="col-4">
                    {{clientSelected.cargo ? clientSelected.cargo : 'NO ES EMPLEADO'}}
                </div>
            </div>
        </p-tabPanel> 
    </ng-container>
    
</p-tabView>